.spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    display: flex;
    height: 12vh;
    flex-direction: row;
    background-color: transparent;
    color: #EEEEEE !important;


    div {
        button {
            margin-left: 1rem;
        }
    }


}

#menu-button {
    margin-right: 1rem;
}

#app {
    text-decoration: none !important;
    color: #EEEEEE !important;

    img {
        position: relative;
        top: 0.4rem;
        margin-right: .5rem;
    }
}


mat-form-field {
    margin-bottom: -3vh;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 70vw;
}

#nav-buttons {
    button {
        margin-left: 0;
        height: 10vh;
        width: 10vw;
        border-radius: 0%;

        &:hover {
            background-color: #6161615d !important;
        }
    }
}

#account-button {
    margin-right: 1rem;
}