<mat-toolbar [style.maxWidth]="window_width">
    <button mat-icon-button id="menu-button" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <!-- App name -->
    <a id="app" routerLink="/">
        <img src="/assets/favicon/favicon-32x32.png" alt="school-logo" *ngIf="window_width >= 350">
        <span *ngIf="!search_quary && window_width >= 1024">DEBAGRAM S.A. VIDYAPITH (H.S.)</span>
    </a>
    <span class="spacer"></span>
    <!-- Search fild -->
    <mat-form-field>
        <input type="search" matInput placeholder="Search" ngModel [(ngModel)]="search_quary">
        <button *ngIf="search_quary" matSuffix mat-icon-button aria-label="Clear" (click)="search_quary=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <span class="spacer"></span>
    <!-- Page buttons -->
    <div *ngIf="!search_quary && window_width >= 1024" id="nav-buttons">
        <button mat-button routerLink="doubts">Doubts</button>
        <button mat-button routerLink="tools">Tools</button>
    </div>
    <!-- Account buttons -->
    <button mat-icon-button id="account-button" (click)="openDialog()">
        <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>