main {
    bottom: 0;
    display: flex;
    z-index: 5000;
    padding: 1rem;
    flex-direction: row;

    div {
        flex: auto 1 1;
        padding-top: 2.5rem;
        padding: 1rem;
        min-height: 40vh;
        text-align: center;

        &:hover {
            background-color: #3b6d7e13;
        }

        a {
            &:hover {
                color: royalblue !important;
            }
        }
    }

}

#info {
    max-width: 35%;

    p {
        font-size: smaller;

        &:hover {
            color: burlywood;
        }
    }
}

#social-links {
    span {
        a {
            color: inherit !important;
            text-decoration: none !important;

            &:hover {
                color: royalblue !important;
                font-size: medium;
                font-style: italic;
            }
        }

        &:hover {
            color: gray !important;
        }
    }
}

#site-links {
    max-width: 25%;
    display: flex;
    flex-direction: column;

    hr {
        width: 100%;
    }

    a {
        margin-top: 3vh;
        text-decoration: none !important;
        color: inherit;

        &:hover {
            font-style: italic;
            font-size: x-large;
            text-transform: uppercase;
        }
    }
}