<main>
    <div id="info">
        <strong>
            DEBAGRAM SHIBARAM ANANDAMAYEE VIDYAPITH (H.S.)
        </strong>
        <hr>
        <p>
            Debagram Shibram Anandamayee Vidyapith was set up in the year 1949, It is situated in the heart of Debagram,
            Nadia having two streams of Science and Humanities and as well as Vocational subjects from Class IX to Class
            XII.
        </p>
        <br>
        <strong>
            Designed, Developed and Maintained
            <br> by <a target="_blank" href="https://www.linkedin.com/in/mrsumanbiswas/"
                style="color: inherit; text-decoration: none;" rel="_"> Mr Suman Biswas</a>
        </strong>
        <br>
        <br>
        <hr>
        <p style="height: auto;width: auto;">
            This is an <i>OpenScorce</i> project.
            It is totaly saved on <a target="_blank" href="https://www.github.com/mrsumanbiswas/debagramsavidyapith"
                style="color: inherit; text-decoration: none;" rel="_">Github Ripository</a>.
            <br> To contribute it's development fork this ripository.
        </p>
        <hr>
    </div>
    <div id="social-links">
        <b>
            USEFUL LINKS
        </b>
        <hr>
        <span>
            <a target="_blank" href="https://www.facebook.com/groups/1419440425089244">
                Facebook Group
            </a>
            <br>
            <a target="_blank" href="http://github.com/mrsumanbiswas/debagramsavidyapith">
                Github Ripository
            </a>
            <br>
            <a href="tel:+91##########">
                Phone Number
            </a>
            <br>
            <a href="mailto:">
                Email Address
            </a>
        </span>
        <br>
        <br>
        <b>
            DEVELOPER DETAILS
        </b>
        <hr>
        <span>
            <a href="mailto:dizzytechnician@gmail.com">
                Email
            </a>
            <br>
            <a target="_blank" href="https://github.com/mrsumanbiswas">
                Github
            </a>
            <br>
            <a target="_blank" href="https://linkedin.com/in/mrsumanbiswas">
                Linkedin
            </a>
            <br>
            <a target="_blank" href="https://twitter.com/mrsumanbiswas0">
                Twitter
            </a>
            <br>
            <a target="_blank" href="https://www.reddit.com/user/mrsumanbiswas">
                Reddit
            </a>
        </span>
    </div>
    <div id="site-links">
        <b>
            SITE LINKS
        </b>
        <hr>
        <a routerLink="about">About</a>
        <a routerLink="blogs">Blogs</a>
        <a routerLink="site-map">Site Map</a>
        <a routerLink="privacy-policy">Privacy Policy</a>
        <a routerLink="takedown-policy">Takedown Policy</a>
        <a routerLink="terms-and-conditions">Terms and Conditions</a>
    </div>
</main>