<!-- If loged in -->
<div *ngIf="authState">
  <h1 mat-dialog-title> Sign Out </h1>
  <div mat-dialog-content>
    <img mat-card-avatar [src]="data.photoURL" alt="user-img">
    <br>
    <strong>{{data.displayName}}</strong>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial>Cancle</button>
    <button mat-button color="warn" mat-dialog-close (click)="auth.signOut()">Sign Out</button>
  </div>
</div>

<!-- If not loged in -->
<div *ngIf="!authState">
  <h1 mat-dialog-title>Sign In</h1>
  <div mat-dialog-content>
    SignIn With Google
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Exit</button>
    <button mat-button color="primary" mat-dialog-close cdkFocusInitial (click)="auth.signIn()">Sign In</button>
  </div>
</div>