// #2C3333 #395B64 #A5C9CA #E7F6F2 
//good! #222831 #393E46 #00ADB5 #EEEEEE
//  black #100F0F
main {
    color: #EEEEEE;

    header {
        top: 0;
        height: 12vh;
        z-index: 10000;
        position: sticky;
        background-color: #1C3879;
    }

    #router-outlet {
        padding: 1rem 3rem;
        min-height: 35vh;
        background-color: #222831;
    }

    footer {
        min-height: 50vh;
        overflow-y: auto;
        background-color: #283149;
    }
}