// table data
.mat-table {
  margin: auto;
  background-color: whitesmoke;
}

.mat-column-i,
.mat-column-ii,
.mat-column-iii,
.mat-column-iv,
.mat-column-v {
  width: auto;
  margin: auto;
  padding: 1rem 0.2rem;
  text-align: center;
  border-right: 1px solid currentColor;

  &:nth-child(even) {
    background-color: white;
  }
}


// border radius
swiper img,
#school-map iframe,
#feedback * {
  border-radius: 0.5rem !important;
}

div swiper div {
  margin: 0 0.5rem !important;
}

main {
  margin-bottom: 8vh;
  font-size: initial;

  h1 {
    margin-top: 2rem;
  }
}

// card wrapper
.card-wrapper {

  h1 {
    margin: 1rem;
    width: 100vw;
  }

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  mat-card {
    max-height: 240px;
    max-width: 240px;
    padding: 1rem;
    margin: auto;
    margin-top: 1rem;
  }

}


////////
// IDs //
////////


#image-slider {
  width: 100%;

  img {
    margin: auto;
    height: max-content;
  }
}

// #overview {}

// #notice {}

// #featured-gallery {}

#events {
  margin-top: 20vh;
  max-height: 80vh;
  overflow-x: auto;

  h1 {
    top: 0;
    z-index: 1000;
    position: sticky;
  }

  .mat-card {
    height: max-content;
    background-color: transparent;
  }

  .mat-card-content {
    p {
      position: relative;
      margin-top: -2.5rem;
      opacity: 75%;
    }

    img {
      z-index: 500;
    }
  }
}

// #school-calendar {}

// #playback {}

// #admission {}

#academics {
  padding: auto;

  h2 {
    margin-top: 3rem;
    text-align: center;
  }

  #subject-offered {
    overflow: auto;

    table {
      width: auto;
      margin: auto;
      padding: auto;
      color: black;
      max-width: 90vw;
      font-size: smaller;
      border-radius: 0.5rem;
      background-color: whitesmoke;

      tr {
        &:nth-child(even) {
          background-color: lavender;
        }
      }

      td {
        text-align: center;
        margin-top: 1rem;
        border: 1px black solid;
      }
    }
  }

  #school-timings {
    overflow-x: auto;
  }

  #rules-regulations {

    ol {
      background-color: azure;

      li {
        color: black;
        font-weight: 500;

        &:nth-child(odd) {
          background-color: burlywood;
        }

        &:nth-child(even) {
          background-color: yellowgreen;
        }
      }
    }
  }

  // #alumni {}
}

#campus {
  .mat-card-content {
    text-align: center;
  }
}

// #teachers {}

// #managing-committee {}

#contact-us {
  .mat-card-content {
    margin: auto;
    padding: auto;
  }
}

// #school-map {}

#feedback {

  color: black;

  h1 {
    color: white;
  }

  form {
    margin-top: 1rem;
  }

  textarea {
    min-width: 10vw;
    min-height: 10vh;
  }
}



.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  max-height: 50vh;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}